body {
    width: 1800px;
    font: 15px arial, sans-serif;
}

.row {
    display: flex;
}

.row section {
    margin: 5px;
}

.row section > div {
    margin: 10px 0;
}

.row section header {
    text-align: center;
}

.row section code {
    display: block;
    font-size: x-small;
}

.nl-layout {
    width: 300px;
    height: 300px;
    border: solid black 1px;
}

.nl-content {
    padding: 5px;
    background-color: #f5f5dc;
    overflow: hidden;
}

.nl-content:after {
    content: ' content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content ';
}

.nl-aside {
    padding: 5px;
    background-color: #468499;
    color: white;
}

.nl-aside .nl-aside {
    background-color: #a0db8e;
}