.nl-layout {
  position: relative;
  display: flex;
  box-sizing: border-box; }

.nl-aside {
  box-sizing: border-box; }

.nl-content {
  box-sizing: border-box;
  flex: 1; }

@media (max-width: 543px) {
  .nl-layout.nl-off-top-eq-xs > .nl-aside, .nl-layout.nl-off-top-lte-xs > .nl-aside, .nl-layout.nl-off-top-gte-xs > .nl-aside, .nl-layout.nl-off-top-gte-s > .nl-aside, .nl-layout.nl-off-top-gte-m > .nl-aside, .nl-layout.nl-off-top-gte-l > .nl-aside, .nl-layout.nl-off-top-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0; }
  .nl-layout.nl-off-right-eq-xs > .nl-aside, .nl-layout.nl-off-right-lte-xs > .nl-aside, .nl-layout.nl-off-right-gte-xs > .nl-aside, .nl-layout.nl-off-right-gte-s > .nl-aside, .nl-layout.nl-off-right-gte-m > .nl-aside, .nl-layout.nl-off-right-gte-l > .nl-aside, .nl-layout.nl-off-right-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: 0; }
  .nl-layout.nl-off-bottom-eq-xs > .nl-aside, .nl-layout.nl-off-bottom-lte-xs > .nl-aside, .nl-layout.nl-off-bottom-gte-xs > .nl-aside, .nl-layout.nl-off-bottom-gte-s > .nl-aside, .nl-layout.nl-off-bottom-gte-m > .nl-aside, .nl-layout.nl-off-bottom-gte-l > .nl-aside, .nl-layout.nl-off-bottom-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0; }
  .nl-layout.nl-off-left-eq-xs > .nl-aside, .nl-layout.nl-off-left-lte-xs > .nl-aside, .nl-layout.nl-off-left-gte-xs > .nl-aside, .nl-layout.nl-off-left-gte-s > .nl-aside, .nl-layout.nl-off-left-gte-m > .nl-aside, .nl-layout.nl-off-left-gte-l > .nl-aside, .nl-layout.nl-off-left-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0; }
  .nl-layout.nl-top-eq-xs, .nl-layout.nl-top-lte-xs, .nl-layout.nl-top-gte-xs, .nl-layout.nl-top-gte-s, .nl-layout.nl-top-gte-m, .nl-layout.nl-top-gte-l, .nl-layout.nl-top-gte-xl {
    flex-direction: column; }
  .nl-layout.nl-right-eq-xs, .nl-layout.nl-right-lte-xs, .nl-layout.nl-right-gte-xs, .nl-layout.nl-right-gte-s, .nl-layout.nl-right-gte-m, .nl-layout.nl-right-gte-l, .nl-layout.nl-right-gte-xl {
    flex-flow: row-reverse; }
  .nl-layout.nl-bottom-eq-xs, .nl-layout.nl-bottom-lte-xs, .nl-layout.nl-bottom-gte-xs, .nl-layout.nl-bottom-gte-s, .nl-layout.nl-bottom-gte-m, .nl-layout.nl-bottom-gte-l, .nl-layout.nl-bottom-gte-xl {
    flex-flow: column-reverse; }
  .nl-layout.nl-left-eq-xs, .nl-layout.nl-left-lte-xs, .nl-layout.nl-left-gte-xs, .nl-layout.nl-left-gte-s, .nl-layout.nl-left-gte-m, .nl-layout.nl-left-gte-l, .nl-layout.nl-left-gte-xl {
    flex-flow: row; } }

@media (min-width: 544px) and (max-width: 767px) {
  .nl-layout.nl-off-top-eq-s > .nl-aside, .nl-layout.nl-off-top-lte-xs > .nl-aside, .nl-layout.nl-off-top-lte-s > .nl-aside, .nl-layout.nl-off-top-gte-s > .nl-aside, .nl-layout.nl-off-top-gte-m > .nl-aside, .nl-layout.nl-off-top-gte-l > .nl-aside, .nl-layout.nl-off-top-gte-xl > .nl-aside, .nl-layout.nl-off-top-bw-xs-m > .nl-aside, .nl-layout.nl-off-top-bw-xs-l > .nl-aside, .nl-layout.nl-off-top-bw-xs-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0; }
  .nl-layout.nl-off-right-eq-s > .nl-aside, .nl-layout.nl-off-right-lte-xs > .nl-aside, .nl-layout.nl-off-right-lte-s > .nl-aside, .nl-layout.nl-off-right-gte-s > .nl-aside, .nl-layout.nl-off-right-gte-m > .nl-aside, .nl-layout.nl-off-right-gte-l > .nl-aside, .nl-layout.nl-off-right-gte-xl > .nl-aside, .nl-layout.nl-off-right-bw-xs-m > .nl-aside, .nl-layout.nl-off-right-bw-xs-l > .nl-aside, .nl-layout.nl-off-right-bw-xs-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: 0; }
  .nl-layout.nl-off-bottom-eq-s > .nl-aside, .nl-layout.nl-off-bottom-lte-xs > .nl-aside, .nl-layout.nl-off-bottom-lte-s > .nl-aside, .nl-layout.nl-off-bottom-gte-s > .nl-aside, .nl-layout.nl-off-bottom-gte-m > .nl-aside, .nl-layout.nl-off-bottom-gte-l > .nl-aside, .nl-layout.nl-off-bottom-gte-xl > .nl-aside, .nl-layout.nl-off-bottom-bw-xs-m > .nl-aside, .nl-layout.nl-off-bottom-bw-xs-l > .nl-aside, .nl-layout.nl-off-bottom-bw-xs-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0; }
  .nl-layout.nl-off-left-eq-s > .nl-aside, .nl-layout.nl-off-left-lte-xs > .nl-aside, .nl-layout.nl-off-left-lte-s > .nl-aside, .nl-layout.nl-off-left-gte-s > .nl-aside, .nl-layout.nl-off-left-gte-m > .nl-aside, .nl-layout.nl-off-left-gte-l > .nl-aside, .nl-layout.nl-off-left-gte-xl > .nl-aside, .nl-layout.nl-off-left-bw-xs-m > .nl-aside, .nl-layout.nl-off-left-bw-xs-l > .nl-aside, .nl-layout.nl-off-left-bw-xs-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0; }
  .nl-layout.nl-top-eq-s, .nl-layout.nl-top-lte-xs, .nl-layout.nl-top-lte-s, .nl-layout.nl-top-gte-s, .nl-layout.nl-top-gte-m, .nl-layout.nl-top-gte-l, .nl-layout.nl-top-gte-xl, .nl-layout.nl-top-bw-xs-m, .nl-layout.nl-top-bw-xs-l, .nl-layout.nl-top-bw-xs-xl {
    flex-direction: column; }
  .nl-layout.nl-right-eq-s, .nl-layout.nl-right-lte-xs, .nl-layout.nl-right-lte-s, .nl-layout.nl-right-gte-s, .nl-layout.nl-right-gte-m, .nl-layout.nl-right-gte-l, .nl-layout.nl-right-gte-xl, .nl-layout.nl-right-bw-xs-m, .nl-layout.nl-right-bw-xs-l, .nl-layout.nl-right-bw-xs-xl {
    flex-flow: row-reverse; }
  .nl-layout.nl-bottom-eq-s, .nl-layout.nl-bottom-lte-xs, .nl-layout.nl-bottom-lte-s, .nl-layout.nl-bottom-gte-s, .nl-layout.nl-bottom-gte-m, .nl-layout.nl-bottom-gte-l, .nl-layout.nl-bottom-gte-xl, .nl-layout.nl-bottom-bw-xs-m, .nl-layout.nl-bottom-bw-xs-l, .nl-layout.nl-bottom-bw-xs-xl {
    flex-flow: column-reverse; }
  .nl-layout.nl-left-eq-s, .nl-layout.nl-left-lte-xs, .nl-layout.nl-left-lte-s, .nl-layout.nl-left-gte-s, .nl-layout.nl-left-gte-m, .nl-layout.nl-left-gte-l, .nl-layout.nl-left-gte-xl, .nl-layout.nl-left-bw-xs-m, .nl-layout.nl-left-bw-xs-l, .nl-layout.nl-left-bw-xs-xl {
    flex-flow: row; } }

@media (min-width: 768px) and (max-width: 991px) {
  .nl-layout.nl-off-top-eq-m > .nl-aside, .nl-layout.nl-off-top-lte-xs > .nl-aside, .nl-layout.nl-off-top-lte-s > .nl-aside, .nl-layout.nl-off-top-lte-m > .nl-aside, .nl-layout.nl-off-top-gte-m > .nl-aside, .nl-layout.nl-off-top-gte-l > .nl-aside, .nl-layout.nl-off-top-gte-xl > .nl-aside, .nl-layout.nl-off-top-bw-xs-l > .nl-aside, .nl-layout.nl-off-top-bw-xs-xl > .nl-aside, .nl-layout.nl-off-top-bw-s-l > .nl-aside, .nl-layout.nl-off-top-bw-s-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0; }
  .nl-layout.nl-off-right-eq-m > .nl-aside, .nl-layout.nl-off-right-lte-xs > .nl-aside, .nl-layout.nl-off-right-lte-s > .nl-aside, .nl-layout.nl-off-right-lte-m > .nl-aside, .nl-layout.nl-off-right-gte-m > .nl-aside, .nl-layout.nl-off-right-gte-l > .nl-aside, .nl-layout.nl-off-right-gte-xl > .nl-aside, .nl-layout.nl-off-right-bw-xs-l > .nl-aside, .nl-layout.nl-off-right-bw-xs-xl > .nl-aside, .nl-layout.nl-off-right-bw-s-l > .nl-aside, .nl-layout.nl-off-right-bw-s-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: 0; }
  .nl-layout.nl-off-bottom-eq-m > .nl-aside, .nl-layout.nl-off-bottom-lte-xs > .nl-aside, .nl-layout.nl-off-bottom-lte-s > .nl-aside, .nl-layout.nl-off-bottom-lte-m > .nl-aside, .nl-layout.nl-off-bottom-gte-m > .nl-aside, .nl-layout.nl-off-bottom-gte-l > .nl-aside, .nl-layout.nl-off-bottom-gte-xl > .nl-aside, .nl-layout.nl-off-bottom-bw-xs-l > .nl-aside, .nl-layout.nl-off-bottom-bw-xs-xl > .nl-aside, .nl-layout.nl-off-bottom-bw-s-l > .nl-aside, .nl-layout.nl-off-bottom-bw-s-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0; }
  .nl-layout.nl-off-left-eq-m > .nl-aside, .nl-layout.nl-off-left-lte-xs > .nl-aside, .nl-layout.nl-off-left-lte-s > .nl-aside, .nl-layout.nl-off-left-lte-m > .nl-aside, .nl-layout.nl-off-left-gte-m > .nl-aside, .nl-layout.nl-off-left-gte-l > .nl-aside, .nl-layout.nl-off-left-gte-xl > .nl-aside, .nl-layout.nl-off-left-bw-xs-l > .nl-aside, .nl-layout.nl-off-left-bw-xs-xl > .nl-aside, .nl-layout.nl-off-left-bw-s-l > .nl-aside, .nl-layout.nl-off-left-bw-s-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0; }
  .nl-layout.nl-top-eq-m, .nl-layout.nl-top-lte-xs, .nl-layout.nl-top-lte-s, .nl-layout.nl-top-lte-m, .nl-layout.nl-top-gte-m, .nl-layout.nl-top-gte-l, .nl-layout.nl-top-gte-xl, .nl-layout.nl-top-bw-xs-l, .nl-layout.nl-top-bw-xs-xl, .nl-layout.nl-top-bw-s-l, .nl-layout.nl-top-bw-s-xl {
    flex-direction: column; }
  .nl-layout.nl-right-eq-m, .nl-layout.nl-right-lte-xs, .nl-layout.nl-right-lte-s, .nl-layout.nl-right-lte-m, .nl-layout.nl-right-gte-m, .nl-layout.nl-right-gte-l, .nl-layout.nl-right-gte-xl, .nl-layout.nl-right-bw-xs-l, .nl-layout.nl-right-bw-xs-xl, .nl-layout.nl-right-bw-s-l, .nl-layout.nl-right-bw-s-xl {
    flex-flow: row-reverse; }
  .nl-layout.nl-bottom-eq-m, .nl-layout.nl-bottom-lte-xs, .nl-layout.nl-bottom-lte-s, .nl-layout.nl-bottom-lte-m, .nl-layout.nl-bottom-gte-m, .nl-layout.nl-bottom-gte-l, .nl-layout.nl-bottom-gte-xl, .nl-layout.nl-bottom-bw-xs-l, .nl-layout.nl-bottom-bw-xs-xl, .nl-layout.nl-bottom-bw-s-l, .nl-layout.nl-bottom-bw-s-xl {
    flex-flow: column-reverse; }
  .nl-layout.nl-left-eq-m, .nl-layout.nl-left-lte-xs, .nl-layout.nl-left-lte-s, .nl-layout.nl-left-lte-m, .nl-layout.nl-left-gte-m, .nl-layout.nl-left-gte-l, .nl-layout.nl-left-gte-xl, .nl-layout.nl-left-bw-xs-l, .nl-layout.nl-left-bw-xs-xl, .nl-layout.nl-left-bw-s-l, .nl-layout.nl-left-bw-s-xl {
    flex-flow: row; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .nl-layout.nl-off-top-eq-l > .nl-aside, .nl-layout.nl-off-top-lte-xs > .nl-aside, .nl-layout.nl-off-top-lte-s > .nl-aside, .nl-layout.nl-off-top-lte-m > .nl-aside, .nl-layout.nl-off-top-lte-l > .nl-aside, .nl-layout.nl-off-top-gte-l > .nl-aside, .nl-layout.nl-off-top-gte-xl > .nl-aside, .nl-layout.nl-off-top-bw-xs-xl > .nl-aside, .nl-layout.nl-off-top-bw-s-xl > .nl-aside, .nl-layout.nl-off-top-bw-m-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0; }
  .nl-layout.nl-off-right-eq-l > .nl-aside, .nl-layout.nl-off-right-lte-xs > .nl-aside, .nl-layout.nl-off-right-lte-s > .nl-aside, .nl-layout.nl-off-right-lte-m > .nl-aside, .nl-layout.nl-off-right-lte-l > .nl-aside, .nl-layout.nl-off-right-gte-l > .nl-aside, .nl-layout.nl-off-right-gte-xl > .nl-aside, .nl-layout.nl-off-right-bw-xs-xl > .nl-aside, .nl-layout.nl-off-right-bw-s-xl > .nl-aside, .nl-layout.nl-off-right-bw-m-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: 0; }
  .nl-layout.nl-off-bottom-eq-l > .nl-aside, .nl-layout.nl-off-bottom-lte-xs > .nl-aside, .nl-layout.nl-off-bottom-lte-s > .nl-aside, .nl-layout.nl-off-bottom-lte-m > .nl-aside, .nl-layout.nl-off-bottom-lte-l > .nl-aside, .nl-layout.nl-off-bottom-gte-l > .nl-aside, .nl-layout.nl-off-bottom-gte-xl > .nl-aside, .nl-layout.nl-off-bottom-bw-xs-xl > .nl-aside, .nl-layout.nl-off-bottom-bw-s-xl > .nl-aside, .nl-layout.nl-off-bottom-bw-m-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0; }
  .nl-layout.nl-off-left-eq-l > .nl-aside, .nl-layout.nl-off-left-lte-xs > .nl-aside, .nl-layout.nl-off-left-lte-s > .nl-aside, .nl-layout.nl-off-left-lte-m > .nl-aside, .nl-layout.nl-off-left-lte-l > .nl-aside, .nl-layout.nl-off-left-gte-l > .nl-aside, .nl-layout.nl-off-left-gte-xl > .nl-aside, .nl-layout.nl-off-left-bw-xs-xl > .nl-aside, .nl-layout.nl-off-left-bw-s-xl > .nl-aside, .nl-layout.nl-off-left-bw-m-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0; }
  .nl-layout.nl-top-eq-l, .nl-layout.nl-top-lte-xs, .nl-layout.nl-top-lte-s, .nl-layout.nl-top-lte-m, .nl-layout.nl-top-lte-l, .nl-layout.nl-top-gte-l, .nl-layout.nl-top-gte-xl, .nl-layout.nl-top-bw-xs-xl, .nl-layout.nl-top-bw-s-xl, .nl-layout.nl-top-bw-m-xl {
    flex-direction: column; }
  .nl-layout.nl-right-eq-l, .nl-layout.nl-right-lte-xs, .nl-layout.nl-right-lte-s, .nl-layout.nl-right-lte-m, .nl-layout.nl-right-lte-l, .nl-layout.nl-right-gte-l, .nl-layout.nl-right-gte-xl, .nl-layout.nl-right-bw-xs-xl, .nl-layout.nl-right-bw-s-xl, .nl-layout.nl-right-bw-m-xl {
    flex-flow: row-reverse; }
  .nl-layout.nl-bottom-eq-l, .nl-layout.nl-bottom-lte-xs, .nl-layout.nl-bottom-lte-s, .nl-layout.nl-bottom-lte-m, .nl-layout.nl-bottom-lte-l, .nl-layout.nl-bottom-gte-l, .nl-layout.nl-bottom-gte-xl, .nl-layout.nl-bottom-bw-xs-xl, .nl-layout.nl-bottom-bw-s-xl, .nl-layout.nl-bottom-bw-m-xl {
    flex-flow: column-reverse; }
  .nl-layout.nl-left-eq-l, .nl-layout.nl-left-lte-xs, .nl-layout.nl-left-lte-s, .nl-layout.nl-left-lte-m, .nl-layout.nl-left-lte-l, .nl-layout.nl-left-gte-l, .nl-layout.nl-left-gte-xl, .nl-layout.nl-left-bw-xs-xl, .nl-layout.nl-left-bw-s-xl, .nl-layout.nl-left-bw-m-xl {
    flex-flow: row; } }

@media (min-width: 1200px) {
  .nl-layout.nl-off-top-eq-xl > .nl-aside, .nl-layout.nl-off-top-lte-xs > .nl-aside, .nl-layout.nl-off-top-lte-s > .nl-aside, .nl-layout.nl-off-top-lte-m > .nl-aside, .nl-layout.nl-off-top-lte-l > .nl-aside, .nl-layout.nl-off-top-lte-xl > .nl-aside, .nl-layout.nl-off-top-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0; }
  .nl-layout.nl-off-right-eq-xl > .nl-aside, .nl-layout.nl-off-right-lte-xs > .nl-aside, .nl-layout.nl-off-right-lte-s > .nl-aside, .nl-layout.nl-off-right-lte-m > .nl-aside, .nl-layout.nl-off-right-lte-l > .nl-aside, .nl-layout.nl-off-right-lte-xl > .nl-aside, .nl-layout.nl-off-right-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: 0; }
  .nl-layout.nl-off-bottom-eq-xl > .nl-aside, .nl-layout.nl-off-bottom-lte-xs > .nl-aside, .nl-layout.nl-off-bottom-lte-s > .nl-aside, .nl-layout.nl-off-bottom-lte-m > .nl-aside, .nl-layout.nl-off-bottom-lte-l > .nl-aside, .nl-layout.nl-off-bottom-lte-xl > .nl-aside, .nl-layout.nl-off-bottom-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0; }
  .nl-layout.nl-off-left-eq-xl > .nl-aside, .nl-layout.nl-off-left-lte-xs > .nl-aside, .nl-layout.nl-off-left-lte-s > .nl-aside, .nl-layout.nl-off-left-lte-m > .nl-aside, .nl-layout.nl-off-left-lte-l > .nl-aside, .nl-layout.nl-off-left-lte-xl > .nl-aside, .nl-layout.nl-off-left-gte-xl > .nl-aside {
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0; }
  .nl-layout.nl-top-eq-xl, .nl-layout.nl-top-lte-xs, .nl-layout.nl-top-lte-s, .nl-layout.nl-top-lte-m, .nl-layout.nl-top-lte-l, .nl-layout.nl-top-lte-xl, .nl-layout.nl-top-gte-xl {
    flex-direction: column; }
  .nl-layout.nl-right-eq-xl, .nl-layout.nl-right-lte-xs, .nl-layout.nl-right-lte-s, .nl-layout.nl-right-lte-m, .nl-layout.nl-right-lte-l, .nl-layout.nl-right-lte-xl, .nl-layout.nl-right-gte-xl {
    flex-flow: row-reverse; }
  .nl-layout.nl-bottom-eq-xl, .nl-layout.nl-bottom-lte-xs, .nl-layout.nl-bottom-lte-s, .nl-layout.nl-bottom-lte-m, .nl-layout.nl-bottom-lte-l, .nl-layout.nl-bottom-lte-xl, .nl-layout.nl-bottom-gte-xl {
    flex-flow: column-reverse; }
  .nl-layout.nl-left-eq-xl, .nl-layout.nl-left-lte-xs, .nl-layout.nl-left-lte-s, .nl-layout.nl-left-lte-m, .nl-layout.nl-left-lte-l, .nl-layout.nl-left-lte-xl, .nl-layout.nl-left-gte-xl {
    flex-flow: row; } }
