.nl-layout.nl-primary-top {
  color: red; }

.nl-layout.nl-primary-top-xs {
  color: red; }

.nl-layout.nl-primary-top-s {
  color: red; }

.nl-layout.nl-primary-top-m {
  color: red; }

.nl-layout.nl-primary-top-l {
  color: red; }

.nl-layout.nl-primary-top-xl {
  color: red; }

.nl-layout.nl-primary-right {
  color: red; }

.nl-layout.nl-primary-right-xs {
  color: red; }

.nl-layout.nl-primary-right-s {
  color: red; }

.nl-layout.nl-primary-right-m {
  color: red; }

.nl-layout.nl-primary-right-l {
  color: red; }

.nl-layout.nl-primary-right-xl {
  color: red; }

.nl-layout.nl-primary-bottom {
  color: red; }

.nl-layout.nl-primary-bottom-xs {
  color: red; }

.nl-layout.nl-primary-bottom-s {
  color: red; }

.nl-layout.nl-primary-bottom-m {
  color: red; }

.nl-layout.nl-primary-bottom-l {
  color: red; }

.nl-layout.nl-primary-bottom-xl {
  color: red; }

.nl-layout.nl-primary-left {
  color: red; }

.nl-layout.nl-primary-left-xs {
  color: red; }

.nl-layout.nl-primary-left-s {
  color: red; }

.nl-layout.nl-primary-left-m {
  color: red; }

.nl-layout.nl-primary-left-l {
  color: red; }

.nl-layout.nl-primary-left-xl {
  color: red; }

.nl-layout.nl-secondary-top {
  color: red; }

.nl-layout.nl-secondary-top-xs {
  color: red; }

.nl-layout.nl-secondary-top-s {
  color: red; }

.nl-layout.nl-secondary-top-m {
  color: red; }

.nl-layout.nl-secondary-top-l {
  color: red; }

.nl-layout.nl-secondary-top-xl {
  color: red; }

.nl-layout.nl-secondary-right {
  color: red; }

.nl-layout.nl-secondary-right-xs {
  color: red; }

.nl-layout.nl-secondary-right-s {
  color: red; }

.nl-layout.nl-secondary-right-m {
  color: red; }

.nl-layout.nl-secondary-right-l {
  color: red; }

.nl-layout.nl-secondary-right-xl {
  color: red; }

.nl-layout.nl-secondary-bottom {
  color: red; }

.nl-layout.nl-secondary-bottom-xs {
  color: red; }

.nl-layout.nl-secondary-bottom-s {
  color: red; }

.nl-layout.nl-secondary-bottom-m {
  color: red; }

.nl-layout.nl-secondary-bottom-l {
  color: red; }

.nl-layout.nl-secondary-bottom-xl {
  color: red; }

.nl-layout.nl-secondary-left {
  color: red; }

.nl-layout.nl-secondary-left-xs {
  color: red; }

.nl-layout.nl-secondary-left-s {
  color: red; }

.nl-layout.nl-secondary-left-m {
  color: red; }

.nl-layout.nl-secondary-left-l {
  color: red; }

.nl-layout.nl-secondary-left-xl {
  color: red; }

.nl-layout.nl-tertiary-top {
  color: red; }

.nl-layout.nl-tertiary-top-xs {
  color: red; }

.nl-layout.nl-tertiary-top-s {
  color: red; }

.nl-layout.nl-tertiary-top-m {
  color: red; }

.nl-layout.nl-tertiary-top-l {
  color: red; }

.nl-layout.nl-tertiary-top-xl {
  color: red; }

.nl-layout.nl-tertiary-right {
  color: red; }

.nl-layout.nl-tertiary-right-xs {
  color: red; }

.nl-layout.nl-tertiary-right-s {
  color: red; }

.nl-layout.nl-tertiary-right-m {
  color: red; }

.nl-layout.nl-tertiary-right-l {
  color: red; }

.nl-layout.nl-tertiary-right-xl {
  color: red; }

.nl-layout.nl-tertiary-bottom {
  color: red; }

.nl-layout.nl-tertiary-bottom-xs {
  color: red; }

.nl-layout.nl-tertiary-bottom-s {
  color: red; }

.nl-layout.nl-tertiary-bottom-m {
  color: red; }

.nl-layout.nl-tertiary-bottom-l {
  color: red; }

.nl-layout.nl-tertiary-bottom-xl {
  color: red; }

.nl-layout.nl-tertiary-left {
  color: red; }

.nl-layout.nl-tertiary-left-xs {
  color: red; }

.nl-layout.nl-tertiary-left-s {
  color: red; }

.nl-layout.nl-tertiary-left-m {
  color: red; }

.nl-layout.nl-tertiary-left-l {
  color: red; }

.nl-layout.nl-tertiary-left-xl {
  color: red; }
